<div class="w-100 d-flex flex-column">

  <div class="d-flex w-100 align-items-center justify-content-center mb-4">
    <h4 class="h4 text-uppercase mb-4 text-info font-weight-bold font-italic">All Doctors</h4>
  </div>

  <table class="table w-100">
    <thead>
    <tr>
      <th scope="col" class="text-capitalize">index</th>
      <th scope="col" class="text-capitalize">first name</th>
      <th scope="col" class="text-capitalize">last name</th>
      <th scope="col" class="text-capitalize">email</th>
      <th scope="col" class="text-capitalize">contact</th>
      <th scope="col" class="text-capitalize">type</th>
      <th scope="col" class="text-capitalize">enabled</th>
      <th scope="col" class="text-capitalize">date</th>
      <th scope="col" class="text-capitalize">Physician</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let notificationList of notification let i = index">
      <th scope="row">{{i + 1}}</th>
      <td>{{notificationList.firstName}}</td>
      <td>{{notificationList.lastName}}</td>
      <td>{{notificationList.email}}</td>
      <td>{{notificationList.phoneNumber}}</td>
      <td>{{notificationList.type}}</td>
      <td>{{notificationList.enableNotification}}</td>
      <td>{{notificationList.date}}</td>
      <td>{{notificationList.doctor}}</td>
    </tr>
    </tbody>
  </table>
</div>
