<div class="d-block w-100">
  <div class="header-container">
    <div class="container d-flex">
      <div class="row w-100">
        <!--        Header Logo-->
        <div class="col-sm-4 w-100">
          <div class="w-100 h-100 d-flex justify-content-center">
            <img src="assets/images/icon/logo_transparent.png" class="logo d-flex" alt="Logo">
          </div>
        </div>

        <!--        Navigation Bar-->
        <div class="col-sm-7 w-100">
          <div class="container d-flex justify-content-center align-items-center w-100 h-100">

            <div class="m-auto">
              <a routerLink="/" class="menu-item">home</a>
            </div>

            <div class="m-auto">
              <a routerLink="prescription" class="menu-item">Prescription</a>
            </div>

            <div class="m-auto ">
              <a routerLink="doctor" class="menu-item">Doctor</a>
            </div>

            <div class="m-auto">
              <a routerLink="notification" class="menu-item">Notification</a>
            </div>

            <div class="m-auto">
              <a href="#" class="menu-item">Home</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
