<div class="d-block w-100">
  <div class="menu-container">

    <!--    Grid Navigation-->
    <div class="menu">
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="find">
          <span class="text-capitalize text-dark">Find Prescription</span>
        </button>

        <button mat-menu-item routerLink="/list">
          <span class="text-capitalize text-info">list all Prescription</span>
        </button>

        <button mat-menu-item routerLink="add">
          <span class="text-capitalize text-success">add new Prescription</span>
        </button>

        <button mat-menu-item routerLink="/update">
          <span class="text-capitalize text-warning">update Prescription</span>
        </button>

        <button mat-menu-item routerLink="delete">
          <span class="text-capitalize text-danger">delete Prescription</span>
        </button>
      </mat-menu>
    </div>

    <div class="content w-100">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
