<div class="w-100 d-flex flex-column">

  <div id="hide-div" class="d-flex w-100 align-items-center justify-content-center mb-4">
    <h4 class="h4 text-uppercase mb-4 text-warning font-weight-bold font-italic">update doctor information</h4>
  </div>

  <table id="hide-table" class="table w-100">
    <thead>
    <tr>
      <th scope="col" class="text-capitalize">index</th>
      <th scope="col" class="text-capitalize">first name</th>
      <th scope="col" class="text-capitalize">last name</th>
      <th scope="col" class="text-capitalize">City</th>
      <th scope="col" class="text-capitalize">Speciality</th>
      <th scope="col" class="text-capitalize">Contact</th>
      <th scope="col" class="text-capitalize">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let doctorList of doctor let i = index">
      <th scope="row">{{i + 1}}</th>
      <td>{{doctorList.firstName}}</td>
      <td>{{doctorList.lastName}}</td>
      <td>{{doctorList.city}}</td>
      <td>{{doctorList.specialty}}</td>
      <td>{{doctorList.phoneNumber}}</td>
      <button class="btn btn-warning m-1" (click)="hideList()" [routerLink]="['info', doctorList._id]">Update</button>
    </tr>
    </tbody>
  </table>
</div>

<router-outlet></router-outlet>
