<!--<p>add-patient works!</p>-->

<div class="d-flex align-items-center w-100 d-flex flex-column">
  <form class="d-flex flex-column align-items-center w-100" (ngSubmit)="addPrescription()">

    <h4 class="h4 text-uppercase mb-4 text-success font-weight-bold font-italic">Add Prescription</h4>

    <div class="form-group d-flex flex-row w-100 m-auto">
      <div class="d-flex align-items-center w-50 m-auto" style="width: 45% !important;">
        <input class="form-control" placeholder="Patient" type="text" id="patient" [(ngModel)]="patient" name="patient" >
      </div>

      <div class="d-flex align-items-center m-auto" style="width: 45% !important;">
        <input class="form-control" placeholder="Prescription" type="text" id="prescription" [(ngModel)]="prescription" name="prescription">
      </div>
    </div>

    <div class="form-group d-flex flex-row w-100 mt-5 ml-auto mr-auto mb-auto">
      <div class="d-flex align-items-center w-50 m-auto flex-column" style="width: 45% !important;">
        <input class="form-control" placeholder="Dosage" id="dosage" type="number" [(ngModel)]="dosage" name="dosage"/>
      </div>

      <div class="d-flex align-items-center m-auto" style="width: 45% !important;">
        <input class="form-control" placeholder="Usage Interval" type="number" id="usageInterval" [(ngModel)]="usageInterval" name="usageInterval" >
      </div>
    </div>

    <div class="form-group d-flex flex-row w-100 mt-5 ml-auto mr-auto mb-auto">
      <div class="d-flex align-items-center w-50 m-auto" style="width: 45% !important;">
        <input class="form-control" placeholder="Pharmacy" id="pharmacy" type="text" [(ngModel)]="pharmacy" name="pharmacy" >
      </div>

      <div class="d-flex align-items-center m-auto" style="width: 45% !important;">
        <input class="form-control" placeholder="Manufacturer" type="text" id="manufacturer" [(ngModel)]="manufacturer" name="manufacturer" >
      </div>
    </div>

    <div class="form-group d-flex flex-row w-100 m-auto">
      <div class="d-flex align-items-center w-50 m-auto" style="width: 45% !important;">
        <input class="form-control mt-5" placeholder="Presiding Doctor" type="text" id="presidingDoctor" [(ngModel)]="presidingDoctor" name="presidingDoctor">
      </div>
    </div>

    <div class="d-flex flex-row w-100 align-items-center justify-content-center">
      <button class="btn btn-success text-uppercase mt-5" type="submit">Prescribe</button>
    </div>
  </form>
</div>
